.footer-nosotros {
    margin-top: 645px;
}

.footer-contacto {
    margin-top: 663px;
}

.ubicacion {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
}

.copyright {
    display: flex;
    position: relative;
    justify-content: end;
}