nav {
    display: flex;
    background: rgb(172, 255, 47);
    background: linear-gradient(180deg, rgba(172, 255, 47, 0.7) 53%, rgba(0, 0, 0, 0.2) 100%);
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
    font-size: 25px;
    padding-bottom: 15px;



    li {
        a {
            text-decoration: none;
            color: $color_1;
            font-family: $font-family_2;
            margin-left: 20px;
            margin-right: 20px;

            &:hover {
                text-shadow: rgb(255, 255, 255) 0 8px 15px;
            }
        }
    }
}

.buscador {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}

.buscar {
    display: flex;
    gap: 10px;
    padding-right: 300px;
    height: 25px;
}